@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
   <title></title>

 
    


</head>
<body>

  
    <br>
    <div class="container">
       
        <!-- Navigation -->
        
    </div>

</body>
</html>
