@{
    
}

@using CPS.Models





<head>

    <title></title>

   

    

</head>

<body>

    <div class="container ">


        <i class="glyphicon glyphicon-align-justify"></i><div class="container">
            <h1>Profile</h1>
            <hr>


        @foreach(User ur in Model)
            {
            if(ur.Type!="Admin")
            { 
            <div class="row">
                <div class="col-md-7">
                    <a href="#">
                        <img src="/Files/@(ur.Picture)" style=" width:600px; height:300px">
                    </a>
                </div>
               
                <div class="col-md-5">
                    <h3>Name: @(ur.Name)</h3>
                    <h4>Phone No: @(ur.PhoneNo)</h4>
                    <p>
                        This car has new some exciting features
                        <div class="row">
                            <div class="col-lg-5">
                                <ul>

                                    <li>
                                        Email :@ur.Email
                                    </li>

                                   
                                       
                                        <li>
                                            UserId :@ur.Id
                                        </li>
                                        <li>
                                            Password :@ur.Password
                                        </li>
                                        <li>
                                            City :@ur.City
                                        </li>

                                        <li>
                                            Date :@ur.Date
                                        </li>



                                    

                                </ul>
                            </div>

                        </div>

                    </p>
                    <form class="form-group col-lg-3" action="/User/Delete">
                        <input type="submit" value="Delete" class=" form-control btn-primary" />
                        <input type="hidden" value="@ur.Id" name="Id">

                    </form>
                    <form class="form-group col-lg-4" action="/User/MakeAdmin">
                        <input type="submit" value="Make Admin" class=" form-control btn-primary" />
                        <input type="hidden" value="@ur.Id" name="Id">

                    </form>

                </div>
            </div>
        }
        }
            <!-- /.row -->

            <hr>





        </div>
    </div>
    </body>
