@{
    ViewBag.Title = "Index";
    
    
}
<!DOCTYPE html>
@using CPS.Models
<html>
<head>
 <title></title>
   

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/themes/bootstrap.min.css" rel="stylesheet">
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src=" ~/Scripts/bootstrap.js"> </script>
    <script src="~/Scripts/jquery-1.8.2.min.js"> </script>
    <link href="~/Content/themes/bootstrap.min.css" rel="stylesheet" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</head>
<body class="container">
    
    @{User u =(User) HttpContext.Current.Session["User"];}

    @if (u != null  )        
    {
        //User u =(User) HttpContext.Current.Session["User"];
        <nav class="navbar navbar-inverse " role="navigation">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>


                   

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                                <ul class="=menu">


                        <!-- /.container -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Files/@u.Picture" class="img-circle" alt="User Image" style="width:60px;height:60px" />
                                <span class="hidden-xs">@u.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/Files/@u.Picture" class="user-image" alt="User Image" style="width:160px;height:80px" />

                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/User/ViewProfile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/User/SignOut" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>

                        </li>

                        <li>
                            <a class="navbar-brand" href="~/cps/Index" style="text-decoration-style:wavy; text-decoration-color:burlywood; font-size:xx-large">

                                <span class="glyphicon glyphicon-home"></span>
                                Cars4U
                            </a>
                       
                        </li>
                        @if(u.Type=="Admin")
                        { 
                        <li>
                            <a href="~/Admin/Index">Dash Board</a>
                        </li>
                        }
                        @if(u.Type!="Admin")
                        { 
                        <li>
                            <a href="~/Ad/ShowAd">My Adds</a>
                        </li>
                        <li>
                            <a href="~/Ad/ShowAllAds">Buy</a>
                        </li>
                        <li>
                            <a href="~/Ad/PostAnAd">Sell</a>
                        </li>
                        }
                        @if (u.Type == "Admin")
                        {                          
                                                         

                                <li>
                                    <a href="/Admin/ViewAllUsers"><i class="fa fa-table fa-fw"></i>All Users</a>
                                </li>
                                <li>
                                    <a href="/Admin/ViewAllAds"><i class="fa fa-table fa-fw"></i> All Ads</a>
                                </li>
                                <li>
                                    <a href="../Admin/ViewInfoAd"><i class="fa fa-table fa-fw"></i> All Info Ads</a>
                                </li>
                                <li>
                                    <a href="../Admin/PostInfoAd"><i class="fa fa-edit fa-fw"></i> Post An Info Add</a>
                                </li>


                            
                        }
                       
                    </ul>





                   


                    
                    @if(u.Type!="Admin")
                    {

                    <form class="navbar-form navbar-right" action="/Ad/Sort">
                        <a class="navbar-brand" href="~/cps/AdvancedSearch" style="text-decoration-style:wavy; text-decoration-color:burlywood; font-size:xx-large"><h5>Advance Search</h5></a>
                        <select class="form-control" name="Sort">
                            <option></option>
                            <option value="Date">By Date</option>
                            <option value="Price">By Price</option>
                            <option value="Model">By Model</option>


                            <op>
                            <option>None</option>
                        </select>

                        <input type="text" placeholder="Search" name ="Key"class="form-control text-primary">
                        <a>

                            <input type="submit" value="Search" class="form-control btn-primary">

                        </a>

                    </form>
                        
                    }
                
                 

                  
</div>
                
                <!-- /.navbar-collapse -->
            </div>
            
                
           


        </nav>
        <br>

        if (u.Type == "Admin" &&u!=null)

        {
            <br>
           

        }

    }
  @RenderBody()

                @Scripts.Render("~/bundles/jquery")
                @RenderSection("scripts", required: false)


                <hr>
                <!-- Footer -->
                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Copyright &copy; Cars For You 2015</p>
                        </div>
                    </div>
                    <!-- /.row -->
                </footer>
</body>
</html>
